
@{
    @model T2004E_WAD.Models.Category

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@*truyen du lieu cach 1
    <h1>@ViewData["Message"]</h1>

    <h2>@ViewData["CurrentTime"]</h2>*@

<h2>Dang ViewBag</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Current</h4>

@{
    var products = new string[] { "Laptop", "PC", "Telephone", "PS5" };
}

@foreach (var product in products)
{
    <li>Product:@product </li>
}
@*gan link*@
@Html.ActionLink("Home", "About", "Home")

<h2>Start Form</h2>
@{Html.BeginForm("Create", "Category");}
@Html.Label("Email")
@Html.TextBox("Email")
<br />
@Html.Label("Password")
@Html.Password("Password")
<br />
@Html.DropDownList("City", new SelectList(new[] { "Ha Noi", "HCM" }), "Chon thanh pho")
<br />
@Html.CheckBox("Remember")@Html.Label("Remember me")
<br />
@Html.RadioButton("Gender", "Male", true)Name
<br />
@Html.RadioButton("Gender", "Female", true)Nu
<br />

<button type="submit">Submit</button>
@{Html.EndForm();}

<h3>THong tin</h3>
<h4>Name: @Model.Name</h4>
<h4>IMG: @Model.Image</h4>
<h4>Descriptiom: @Model.Description</h4>

