
@{
    @model T2004E_WAD.Models.Product

    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<h2>Product</h2>



<h2>Form nhap du lieu cho Product</h2>
@{Html.BeginForm();}
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(Model => Model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.Name)
            @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(Model => Model.Author)
        @Html.ValidationMessageFor(Model => Model.Author, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(Model => Model.Year)
        @Html.ValidationMessageFor(Model => Model.Year, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(Model => Model.Amount)
        @Html.ValidationMessageFor(Model => Model.Amount, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-12">
        <button type="submit">submit</button>
    </div>
</div>
@{Html.EndForm();}
